body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  max-width: 50px !important;
  max-height: 50px !important;
}

.small-logo {
  max-width: 25px !important;
  max-height: 25px !important;
}

.recipe-button {
  background-color: #FF6C2C !important;
  border-color: darkorange !important;
}

.incomplete {
  color: red;
}

.complete {
  color: green;
}
  
.hamburger {
  font-size: 24px;
}

.clickable {
  cursor: pointer;
}

.semi-transparent {
  opacity: 0.1;
}
